.container-footer{
    background-color: rgb(54, 189, 54);
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container-footer .titulo-empresa{
    font-size: 40px;
    align-items: center;
    justify-content: center;
    transform: translateY(0px);
}
.footer-item1, .footer-item2{
    margin: 10px 50px;
    justify-content: center;
}
.img-redes{
    margin: 1px 20px;
    width: 80px;
}

@media(max-width:850px) {

    .container-footer{
        background-color: rgb(54, 189, 54);
        height: 40vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .img-redes{
        margin: 1px 0px;
        width: 50px;
    }

}